@use "../../../styles/variables" as var;

.card {
  display: flex;
  background-color: white;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 8px -1px rgba(77, 77, 77, 0.412);
  transform: scale(1.05);
}

.locked {
  background-color: grey;
  pointer-events: none;
}

.lockedContent {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.412);
  transform: scale(1.05);
}

.picture {
  width: 30em;
  max-height: 10em;

  .cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
  }

  .inactiveImg {
    filter: saturate(0);
  }
}

.content {
  width: 70%;
  padding: 1em;
  font-family: var.$poppins;
}

.title {
  font-weight: 800;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalContents {
  display: flex;
  gap: 0.5em;

  .contentValue {
    font-weight: 600;
  }
  .icon {
    margin-right: 2em;
    color: var.$blue;
  }
  .inactive {
    color: var.$inactive;
  }
  .completed {
    color: black;
  }
}

.description {
  font-weight: 400;
}

.completedUnit {
  width: 1.5%;
  height: 100%;
  background-color: rgb(137, 205, 137);
  border-radius: 0 1em 1em 0;
}
