<body>
  <div class="mainImgWrapper">
    <img src="/laptop.jpg" />
  </div>
  <div class="container">
    <div class="wrapper">
      <div class="imgContainer">
        <div class="imgWrapper">
          <img src="/logo_black.png" />
        </div>
      </div>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="inputWrapper">
          <label for="email" [class.emailError]="emailError()">Email</label>
          <input
            formControlName="email"
            type="text"
            name="email"
            placeholder="digite o seu email"
            [ngClass]="{ alert: showError() || emailError() }"
          />
        </div>
        <div class="inputWrapper">
          <label for="password" [class.passwordError]="passwordError()"
            >Senha</label
          >
          <input
            formControlName="password"
            type="text"
            name="password"
            placeholder="digite a sua senha"
            [ngClass]="{ alert: showError() || passwordError() }"
          />
        </div>
        <button
          class="btn"
          [ngClass]="{
            loading: loading(),
            error: showError(),
          }"
        >
          {{
            loading()
              ? "Enviando..."
              : showError()
                ? "Email ou senha inválidos"
                : "Enviar"
          }}
        </button>
      </form>
    </div>
  </div>
</body>
