@use "../../../styles/variables" as var;

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, var.$darkBlue, black);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.decorativeLine {
  width: 100%;
  height: 3%;
  background: var.$signatureGradient;
  margin-bottom: 1em;
  margin-top: 2em;
}

.window {
  width: 100%;
  height: 60%;
  border-radius: 1em;
  padding: 2em;
  font-family: var.$poppins;
  color: rgb(239, 239, 239);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(241, 215, 101);
  text-transform: uppercase;
}

.passwordResetForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1em;
  margin-top: 2em;
}

.inputWrapper {
  display: flex;
  gap: 0.5em;

  .inputLabel {
    font-family: var.$poppins;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .formInput {
    font-size: 1.2rem;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    width: 100%;
  }
}

.error {
  color: var.$error;
  margin-top: -0.5em;
}

.submitBtn {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  font-family: var.$poppins;
  font-weight: 600;
  font-size: 1rem;
  background-color: var.$blue;
  color: white;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var.$btnHover;
}

.icon {
  margin-bottom: 5em;
  img {
    border-radius: 0.5em;
  }
}

.message {
  margin-top: 0.2em;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var.$blue;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var.$poppins;
  font-size: 1rem;
}

.link:hover {
  color: var.$btnHover;
}
