@use "../styles/colors.scss" as colors;

body {
  display: flex;
}

.openMenu {
  width: 14%;
  height: 100vh;
}

.closedMenu {
  width: 4%;
  height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  width: 100%;
  background-color: colors.$backgroundColor;

  .mainContent {
    width: 100%;
  }

  .userMenu {
    width: 12%;
  }
}
