<div class="container" [class.active]="isActive()">
  <div class="timer">
    <div
      class="elapsedTime"
      [class.animate]="isActive()"
      [style.--duration]="toast().duration / 1000 + 's'"
    ></div>
  </div>
  <div class="wrapper">
    <div class="content">
      @if (toast().type === "SUCCESS") {
        <div class="icon" id="success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            width="30"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 12.75 6 6 9-13.5"
            />
          </svg>
        </div>
      }
      @if (toast().type === "INFO") {
        <div class="icon" id="info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            width="30"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
            />
          </svg>
        </div>
      }
      @if (toast().type === "WARNING") {
        <div class="icon" id="warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            width="30"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            />
          </svg>
        </div>
      }
      @if (toast().type === "FAILURE") {
        <div class="icon" id="failure">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            width="30"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            />
          </svg>
        </div>
      }
      <p class="message">{{ toast().message }}</p>
    </div>
  </div>
</div>
