@use "../../../styles/variables" as var;

.mainContent {
  display: flex;
  gap: 16%;
}

.unitContainer {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 2em;
}

.contentContainer {
  width: 25%;
  height: 100%;
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.412);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: translateX(2em);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.contentCardTitle {
  font-family: var.$poppins;
  font-weight: 800;
}

.noContentMessage {
  font-family: var.$poppins;
}
