@use "../../../styles/colors.scss" as colors;
@use "../../../styles/fonts.scss" as fonts;

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.upperContent {
  display: flex;
  max-height: 45%;
  justify-content: space-between;
  gap: 2em;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .generalInfo {
      display: flex;
      width: 50%;
      gap: 1.5em;
    }
  }
}

.progressTable {
  background-color: white;
  padding: 1em;
  overflow-y: scroll;
  border-radius: 0.8em;
  gap: 0.8em;
  font-family: fonts.$poppins;

  .tableHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
    padding: 0 0.5em;
  }

  .userProgressContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 0.8em;
    border-radius: 0.3em;
    padding: 0 0.5em;
  }

  .userProgressContainer:hover {
    background-color: rgb(237, 237, 237);
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 1em;

    select {
      padding: 0.1em 0.5em;
      font-family: fonts.$poppins;
      background-color: rgb(102, 158, 203);
      border: none;
      outline: none;
      color: white;
      border-radius: 0.3em;
      cursor: pointer;

      option {
        color: white;
      }
    }
  }

  .tableHeading {
    font-weight: 800;
  }

  .activeFilter {
    svg {
      color: colors.$active;
    }
  }

  .tableProgress {
    background-color: rgb(48, 187, 139);
    position: relative;
  }

  .tableProgress:hover {
    background-color: rgb(68, 209, 160);
  }
}

.loadingTable {
  background-color: #484848;
  color: rgb(227, 227, 227);

  .tableProgress {
    background-color: white;
    animation: loadingAnimation 1s ease-in-out infinite;
  }

  .tableUsername {
    background-color: white;
    animation: loadingAnimation 1s ease-in-out infinite;
  }

  .totalProgress {
    animation: loadingAnimation 1s ease-in-out infinite;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
