@use "../../../styles/colors.scss" as colors;
@use "../../../styles/fonts.scss" as fonts;

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  max-height: 44%;
  justify-content: space-between;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .generalInfo {
      display: flex;
      gap: 1.5em;
    }
  }
}

.lastLogins {
  background-color: colors.$yellow;
  width: 40%;
  padding: 1em;
  border-radius: 0.8em;
  font-family: fonts.$poppins;

  .cardTitle {
    margin-bottom: 1em;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em 1em;

    .userInfo {
      background-color: rgb(255, 251, 180);
      padding: 0.5em;
      border-radius: 0.8em;
      min-height: 3em;
    }
  }
}

.loading {
  background-color: #484848;

  .cardTitle {
    color: white;
    animation: loadingAnimation 1s ease-in-out infinite;
  }

  .users {
    .userInfo {
      background-color: white;
      animation: loadingAnimation 1s ease-in-out infinite;
    }
  }
}

.addContentBtn {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-family: fonts.$poppins;
  background-color: #bdc2c7;
  color: black;
  border: none;
  width: max-content;
  font-size: 1.1rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.addContentBtn:hover {
  color: white;
  background-color: colors.$active;
}

.progressTable {
  background-color: white;
  padding: 1em;
  overflow-y: scroll;
  border-radius: 0.8em;
  gap: 0.8em;
  font-family: fonts.$poppins;

  .tableHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
    padding: 0 0.5em;
  }

  .userProgressContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 0.8em;
    border-radius: 0.3em;
    padding: 0 0.5em;
  }

  .userProgressContainer:hover {
    background-color: rgb(237, 237, 237);
  }

  .tableHeading {
    font-weight: 800;
  }

  .tableProgress {
    background-color: rgb(48, 187, 139);
    position: relative;
  }

  .tableProgress:hover {
    background-color: rgb(68, 209, 160);
  }
}

.loadingTable {
  background-color: #484848;
  color: rgb(227, 227, 227);

  .tableProgress {
    background-color: white;
    animation: loadingAnimation 1s ease-in-out infinite;
  }

  .tableUsername {
    background-color: white;
    animation: loadingAnimation 1s ease-in-out infinite;
  }

  .totalProgress {
    animation: loadingAnimation 1s ease-in-out infinite;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
