@use "../../../../styles/colors.scss" as colors;
@use "../../../../styles/fonts.scss" as fonts;

.mainContent {
  background-color: black;
  height: 100vh;
  font-family: fonts.$poppins;
  padding: 3em 0 0 3em;
}

.header {
  height: 10%;
}

.imgWrapper {
  width: 15%;
  padding: 0.5em;
  border-radius: 1em;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  display: flex;
  background-color: colors.$backgroundColor;
  height: 90%;
  border-radius: 100em 0 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.link {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.link:hover {
  color: colors.$active;
}

.link:active {
  color: black;
}

span {
  font-weight: 800;
  color: colors.$active;
}

.formGroup {
  width: 80%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

form {
  padding: 0.5em;
  width: 100%;
  border-radius: 0.2em;
  font-family: fonts.$poppins;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    label {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .formInput {
      font-size: 1.2rem;
      padding: 0.3em;
      border-radius: 0.2em;
      border: 1px solid colors.$inactive;
    }

    .alert {
      border: 1px solid red;
      outline-color: red;
    }
  }

  button {
    background-color: colors.$active;
    color: white;
    font-family: fonts.$poppins;
    border: none;
    padding: 0.3em 0.5em;
    font-size: 1.2rem;
    border-radius: 0.2em;
    cursor: pointer;
    margin-top: 1.5em;
  }

  button:hover {
    background-color: colors.$btnHover;
  }
}

#email {
  position: relative;
}

#password {
  position: relative;
}

.icon {
  position: absolute;
  bottom: 0em;
  right: 1em;
  cursor: pointer;

  #hide {
    display: block;
  }

  #show {
    display: none;
  }
}

.emailError::after {
  content: "forneça um email válido, ex: eu@mail.com";
  position: absolute;
  top: 5em;
  left: 0.6em;
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
}

.passwordError::after {
  content: "a senha precisa ter ao menos 8 caracteres sendo 1 letra maiúscula, 1 minúscula, 1 número e um caractere especial";
  position: absolute;
  top: 5em;
  left: 0.6em;
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
}
