<div class="mainContent">
  <div class="header">
    <div class="imgWrapper">
      <img src="/logo.png" />
    </div>
  </div>
  <div class="container">
    <div class="wrapper">
      @if (success()) {
        <h1>Senha atualizada com sucesso!</h1>
        <p>
          Por segurança, favor realizar um
          <a class="link" [routerLink]="'/login'" href="">novo login</a>
          ou aguarde o redirecionamento em
          <span>{{ secondsToRedirect() }}</span>
        </p>
      } @else {
        <div class="formGroup">
          <h2>Favor informar os dados para atualização de senha</h2>
          <form [formGroup]="form" (submit)="onSubmit()">
            <div
              class="inputGroup"
              [class.emailError]="emailError()"
              id="email"
            >
              <label>Email</label>
              <input
                type="email"
                name="email"
                placeholder="digite o seu email"
                [class.alert]="emailError()"
                class="formInput"
                formControlName="email"
              />
            </div>
            <div
              class="inputGroup"
              id="password"
              [class.passwordError]="passwordError()"
            >
              <label>Nova senha</label>
              <input
                [type]="isPasswordVisible() ? 'text' : 'password'"
                name="password"
                placeholder="digite a sua senha"
                [class.alert]="passwordError()"
                class="formInput"
                formControlName="password"
              />
              <div class="icon" (click)="changePasswordVisibility()">
                @if (isPasswordVisible()) {
                  <div
                    id="show"
                    [style]="
                      isPasswordVisible() ? 'display: block' : 'display: none'
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-eye-icon lucide-eye"
                    >
                      <path
                        d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
                      />

                      <circle cx="12" cy="12" r="3" />
                    </svg>
                  </div>
                } @else {
                  <div id="hide">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-eye-off-icon lucide-eye-off"
                    >
                      <path
                        d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"
                      />
                      <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242" />
                      <path
                        d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"
                      />
                      <path d="m2 2 20 20" />
                    </svg>
                  </div>
                }
              </div>
            </div>

            <button>Enviar</button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
