@use "../../../../styles/variables" as var;

.title {
  font-family: var.$outfit;
  font-size: 2.5rem;
}

.description {
  font-family: var.$poppins;
  font-size: 1.4rem;
  margin-top: 0.5em;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-top: 3em;
}

.inputText {
  font-family: var.$poppins;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.385);
  width: 70%;
}
