$poppins: "Poppins", sans-serif;
$outfit: "Outfit", sans-serif;
$backgroundColor: #f8f6ed;
$inactive: #d8d8d8;
$yellow: #f9d748;
$green: #40c979;
$greenHover: #62e097;
$blue: #3ab2f6;
$darkBlue: #0d2938;
$darkBackground: rgb(26, 26, 26);
$btnHover: #69c2f6;
$optionHover: #8dcef4;
$signatureGradient: linear-gradient(to right, $yellow, $blue);
$loadingBackground: rgb(49, 49, 49);
