$poppins: "Poppins", sans-serif;
$outfit: "Outfit", sans-serif;
$backgroundColor: #f8f6ed;
$inactive: #d8d8d8;
$yellow: #e9c63c;
$green: #40c979;
$greenHover: #62e097;
$blue: #1d8ac9;
$darkBlue: #0d2938;
$darkBackground: #2a2a2a;
$menuBackground: #1d1d1d;
$cardBackground: #4b4b4b;
$lockedContentBackground: rgb(53, 53, 53);
$textWhite: rgb(246, 245, 245);
$btnHover: rgb(122, 199, 244);
$optionHover: #8dcef4;
$signatureGradient: linear-gradient(to right, $yellow, $blue);
$loadingBackground: rgb(49, 49, 49);
$error: rgb(220, 88, 59);
$videoContent: #ee988ef6;
$testContent: #7fc2dce7;
$quizContent: #98d698e0;
$slideshowContent: #ffbb80e9;
$shadow: 0 0 10px -1px rgba(0, 0, 0, 0.523);
