@use "../../../styles/variables" as var;

.container {
  background-color: var.$darkBackground;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  font-family: var.$poppins;
}

.infoContainer {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.picture {
  width: 20em;
  height: 20em;

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 0.5em;

  .infoTitle {
    font-family: var.$poppins;
    color: rgb(213, 213, 213);
    font-weight: 500;
  }

  .info {
    font-family: var.$poppins;
    color: rgb(154, 154, 154);
  }
}

.btnWrapper {
  display: flex;
  gap: 1em;
}

.cancelBtn {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  border: none;
  font-family: var.$poppins;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(164, 164, 164);
  color: black;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: rgb(183, 182, 182);
}

.btn {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  border: none;
  font-family: var.$poppins;
  font-weight: 600;
  font-size: 1rem;
  background-color: var.$blue;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: var.$btnHover;
}

.editPicture {
  width: 20em;
  height: 20em;
  position: relative;

  .editAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }

  .fileInput {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .frame {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0.5em;
    background-color: rgba(42, 174, 218, 0.419);
  }

  .active {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  color: rgb(224, 224, 224);
}

.profileEditForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  .inputLabel {
    font-family: var.$poppins;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(222, 222, 222);
  }

  .formInput {
    padding: 0.5em 1em;
    font-family: var.$poppins;
    font-size: 1rem;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(126, 126, 126);
  }
}

.loadingContainer {
  width: 45%;
  height: 50%;
  border-radius: 1.5em;
  background-color: var.$loadingBackground;
  display: flex;
  padding: 1em;
  gap: 1em;

  .imageLoader {
    width: 50%;
    height: 100%;
    background-color: grey;
    border-radius: 1em;
    animation: loader 1s ease-in-out infinite;
  }

  .infoLoader {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1em;
  }
}

.userInfo {
  width: 100%;
  height: 8%;
  background-color: grey;
  border-radius: 1em;
  animation: loader 1s ease-in-out infinite;
}

.saving {
  animation: saveAnimation 1s ease-in-out infinite;
}

.imgEditBtn {
  width: 100%;
  border: none;
  outline: none;
  background-color: var.$blue;
  color: white;
  padding: 0.6em;
  font-family: var.$poppins;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.imgEditBtn:hover {
  background-color: var.$btnHover;
}

.inactive {
  pointer-events: none;
  background-color: var.$inactive;
  color: rgba(0, 0, 0, 0.281);
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes saveAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
