@use "../../../styles/variables" as var;

.info {
  margin-top: 0.5em;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 1em;
}

.icon {
  cursor: pointer;
}

.notesWrapper {
  position: absolute;
  right: 2em;
  bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  pointer-events: none;
  opacity: 0;
  transform: translateX(2em);
  transition: all 0.3s ease-in-out;

  .notesTitle {
    color: white;
    font-family: var.$poppins;
    margin-bottom: -0.4em;
  }

  .noteInput {
    outline: none;
    border-radius: 0.5em;
    padding: 0.5em;
  }

  .saveBtn {
    background-color: var.$blue;
    color: white;
    width: 100%;
    font-family: var.$poppins;
    font-weight: 600;
    padding: 0.5em 1em;
    align-self: flex-end;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }

  .saveBtn:hover {
    background-color: var.$btnHover;
  }
}

.showNotes {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
}

.contentTitle {
  font-family: var.$poppins;
  font-weight: 700;
}

.contentDescription {
  font-family: var.$poppins;
  font-weight: 500;
}

.duration {
  font-family: var.$poppins;
  font-weight: 500;
}

.btn {
  padding: 0.5em 1em;
  margin-top: 1em;
  border: none;
  font-family: var.$poppins;
  font-size: 1rem;
  background-color: rgb(157, 157, 157);
  color: white;
  font-weight: 500;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(174, 174, 174);
}

.loader {
  width: 100%;
  height: 100%;
  background-color: var.$darkBackground;
  border-radius: 1em;
  padding: 2em;

  .videoLoader {
    width: 100%;
    height: 80%;
    background-color: grey;
    border-radius: 0.5em;
    margin-bottom: 1em;
    animation: loader 1s ease-in-out infinite;
  }
}

.infoLoaderWrapper {
  width: 30%;
  height: 18%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .infoLoader {
    width: 100%;
    height: 100%;
    background-color: grey;
    border-radius: 1em;
    animation: loader 1s ease-in-out infinite;
  }
}

.saving {
  background-color: var.$blue;
  animation: loader 0.8s ease-in-out infinite;
  pointer-events: none;
}

.completeContent {
  background-color: var.$blue;
  pointer-events: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
