$backgroundColor: #f8f6ed;
$yellow: #f9d748;
$blue: #3ab2f6;
$signatureGradient: linear-gradient(to right, $yellow, $blue);
$inactive: #949494;
$active: #3ab2f6;
$hover: #bedff3;
$btnHover: #59bcf6;
$green: rgb(64, 201, 121);
$videoContent: #ffa79e;
$testContent: #e6acff;
$quizContent: #b4edb4;
$slideContent: #ffbb80;
