@use "../../../styles/variables" as var;

.menuContainer {
  width: 100%;
  height: 100%;
  background-color: var.$darkBackground;
  padding: 3em 2em;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.732);
}

.logoContainer {
  .logo {
    width: 100%;
    object-fit: cover;
  }
}

.menuOptions {
  margin-top: 6em;
  font-family: var.$poppins;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .menuOption {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var.$inactive;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .menuOption:hover {
    color: white;
  }

  .active {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var.$blue;
    text-decoration: none;
    font-size: 1.1rem;
  }
}
