@use "../../../styles/colors.scss" as colors;
@use "../../../styles/fonts.scss" as fonts;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: colors.$backgroundColor;
  width: 30%;
  padding: 1em;
  font-family: fonts.$poppins;
  border-radius: 0.5em;
}
