<div class="container">
  <div class="wrapper">
    <h3>Alteração de senha</h3>
    <p>
      Informe o seu email. Enviaremos um link de confirmação para o seu email
      para garantir a segurança da sua conta.
    </p>
    <form [formGroup]="passwordForm" (submit)="onSubmit()">
      <input
        type="text"
        formControlName="email"
        placeholder="Digite aqui o seu email"
      />
      <div class="btnContainer">
        <button id="send">{{ loading() ? "Enviando..." : "Enviar" }}</button>
        <button id="cancel" (click)="closeModal($event)">Cancelar</button>
      </div>
    </form>
  </div>
</div>
