@use "./styles/variables" as var;
@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-toast-progress {
  background: var.$signatureGradient;
}
