@use "../../../styles/variables" as var;

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, var.$darkBlue, black);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.decorativeLine {
  width: 100%;
  height: 3%;
  background: var.$signatureGradient;
  margin-bottom: 1em;
  margin-top: 2em;
}

.window {
  width: 50%;
  height: 70%;
  border-radius: 1em;
  padding: 2em;
  font-family: var.$poppins;
  color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.212);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.568);
  align-self: center;
  animation: slideIn 1s ease-in-out forwards;
}

.picture {
  width: 30%;
  margin-bottom: 2em;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(241, 215, 101);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.message {
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}

.highlight {
  font-weight: 600;
  color: var.$yellow;
}

.btn {
  background-color: var.$blue;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: white;
  font-family: var.$poppins;
  font-weight: 500;
  text-decoration: none;
  margin-top: 2em;
  opacity: 0;
}

.active {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  box-shadow: 0 0 10px 2px var.$blue;

  &:hover {
    background-color: var.$btnHover;
  }
}

.inactive {
  background-color: var.$inactive;
  box-shadow: none;
  pointer-events: none;
  opacity: 1;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
